In [12]:
import numpy as np
import pandas as pd
import networkx as nx

In [13]:
x = np.nan

In [14]:
customer_ids = np.array([[100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200],
                         [1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 5, 9],
                         [x, x, 1, x, 8, x, x, 7, x, x, x, 3],
                         [x, x, x, x, x, x, 2, x, x, x, 10, x]]).T

In [15]:
df = pd.DataFrame(customer_ids)

In [16]:
df.columns = ["antr_id", "nprs_pers_id_hkn", "nprs_pers_id_mkn", "nprs_pers_id_bue"]

In [17]:
df.head()

   antr_id  nprs_pers_id_hkn  nprs_pers_id_mkn  nprs_pers_id_bue
0    100.0               1.0               NaN               NaN
1    200.0               2.0               NaN               NaN
2    300.0               3.0               1.0               NaN
3    400.0               4.0               NaN               NaN
4    500.0               5.0               8.0               NaN

In [18]:
df["main_app_id"] = df["nprs_pers_id_hkn"]
df["co_app_id"] = df["nprs_pers_id_mkn"].combine_first(df["nprs_pers_id_bue"])

In [19]:
df = df[["antr_id", "main_app_id", "co_app_id"]]

In [30]:
join_id = "antr_id"

merged = df.merge(
    df, how="left", left_on="main_app_id", right_on="co_app_id"
)
merged = merged[["antr_id_x", "antr_id_y"]]

In [37]:
merged = merged[merged.notnull().all(axis=1)]

In [38]:
merged

   antr_id_x  antr_id_y
0      100.0      300.0
1      200.0      700.0
2      300.0     1200.0
6      700.0      800.0
7      800.0      500.0
9     1000.0      700.0

In [64]:
from itertools import combinations

In [65]:
comb = combinations(["nprs_pers_id_hkn", "nprs_pers_id_mkn", "nprs_pers_id_bue"], 2)

In [66]:
test = list(comb)

In [70]:
test[0][0]

'nprs_pers_id_hkn'